@import "../../styles/colors/colors.scss";

.loading {
  height: 100vh;
  width: 100vw;
  background-color: $primaryLight;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
