@import '../../styles/colors/colors.scss';

.inputWrap {
  width: 300px;
  display: flex;
  position: relative;
  span {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    flex-grow: 1;
    border: 1px solid $black;
    border-radius: 4px;
    line-height: 35px;
    padding-right: 40px;
    padding-left: 15px;
    &:focus {
      outline-color: $primaryLight;
    }
  }
}