@import '../../styles/global/global.scss';
@import '../../styles/colors/colors.scss';

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  .link {
    background: $white;
    cursor: pointer;
    text-decoration: underline;
    color: $primaryDark;
    margin-top: 15px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    height: 60vh;
    background: $white;
    border-radius: 8px;
    box-shadow: 0px 1px 3px -1px $black;
  }

  div {
    margin-bottom: 16px;
  }

  .spinner {
    display: flex;
  }

  h2 {
    margin-bottom: 32px;
    font-weight: 400;
    color: $black;
    font-size: 1.5rem;
  }
}
